// Оголошення змінних для кольорів
$primary-color: #de4b55b2;

.button {
    text-transform: uppercase;
    font-size: 14px;
    padding: 0.5rem 1rem;
    border: 1px solid $primary-color;
    color: $primary-color;
    background-color: inherit;
    &:hover,
    &:active {
        background: linear-gradient(
            45deg,
            rgba(6, 19, 44, 1),
            rgba(107, 44, 104, 1),
            rgba(222, 75, 87, 1)
        );
        background-size: 200% 200%;
        animation: gradientShift 2s infinite;
        color: white;
        border-color: rgba(6, 19, 44, 1);
        transition: all 0.3s ease;
    }
}

.activeButton {
    background: linear-gradient(
        45deg,
        rgba(6, 19, 44, 1),
        rgba(107, 44, 104, 1),
        rgba(222, 75, 87, 1)
    );
    background-size: 200% 200%;
    animation: gradientShift 2s infinite;
    color: white;
    border-color: rgba(6, 19, 44, 1);
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
